<div class="container-fluid p-0 m-0">
    <div class="comingsoon comingsoon-bgimg">
        <div class="comingsoon-inner text-center">
            <svg width="30" class="" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="-0.757324" y="19.2427" width="28" height="4" rx="2" transform="rotate(-45 -0.757324 19.2427)"
                fill="currentColor" />
              <rect x="7.72803" y="27.728" width="28" height="4" rx="2" transform="rotate(-45 7.72803 27.728)"
                fill="currentColor" />
              <rect x="10.5366" y="16.3945" width="16" height="4" rx="2" transform="rotate(45 10.5366 16.3945)"
                fill="currentColor" />
              <rect x="10.5562" y="-0.556152" width="28" height="4" rx="2" transform="rotate(45 10.5562 -0.556152)"
                fill="currentColor" />
            </svg>
            <!--logo End-->
            <h4 class="logo-title">Fintech Ops</h4>

            <h5>WE ARE COMING SOON</h5>
            <div class="countdown" id="clockdiv">
                <ul>
                    <li><span class="time digits" id="days"></span><span class="title">days</span></li>
                    <li><span class="time digits" id="hours"></span><span class="title">Hours</span></li>
                    <li><span class="time digits" id="minutes"></span><span class="title">Minutes</span></li>
                    <li><span class="time digits" id="seconds"></span><span class="title">Seconds</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>