<div class="container-fluid">
    <!-- sign up page start-->
    <div class="authentication-main auth-bg">
        <div class="row">
            <div class="col-sm-12 p-0">
                <div class="auth-innerright">
                    <div class="authentication-box">
                        <div class="text-center">
                            <!--Logo start-->
                            <svg width="30" class="" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="-0.757324" y="19.2427" width="28" height="4" rx="2" transform="rotate(-45 -0.757324 19.2427)"
                  fill="currentColor" />
                <rect x="7.72803" y="27.728" width="28" height="4" rx="2" transform="rotate(-45 7.72803 27.728)"
                  fill="currentColor" />
                <rect x="10.5366" y="16.3945" width="16" height="4" rx="2" transform="rotate(45 10.5366 16.3945)"
                  fill="currentColor" />
                <rect x="10.5562" y="-0.556152" width="28" height="4" rx="2" transform="rotate(45 10.5562 -0.556152)"
                  fill="currentColor" />
              </svg>
                            <!--logo End-->
                            <h4 class="logo-title">Fintech Ops</h4>
                        </div>
                        <div class="card mt-4 p-4">
                            <h4 class="text-center">NOVO USUÁRIO</h4>
                            <h6 class="text-center">Insira seu username e a senha para logar</h6>
                            <form class="theme-form">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Nome</label>
                                            <input class="form-control" type="text" placeholder="Eduardo">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Sobrenome</label>
                                            <input class="form-control" type="text" placeholder="Braga">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">User Name</label>
                                    <input class="form-control" type="text" placeholder="edubraga">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">Senha</label>
                                    <input class="form-control" type="password" placeholder="**********">
                                </div>
                                <div class="form-row">
                                    <div class="col-sm-4">
                                        <button class="btn btn-primary" type="submit">Sign Up</button>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="text-left mt-2 m-l-20">Are you already user?  <a class="btn-link text-capitalize" href="login.html">Login</a></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- sign up page ends-->
</div>